.adminPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer {
    margin-top: 28px;
    width: 320px;
    display: flex;
    flex-direction: column;
}

.formContainer button {
    margin-top: 12px;
    align-self: flex-end;
}