dialog {
    border-radius: 5px;
}

.booking {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.booking button:first-of-type {
    align-self: flex-end;
}

.booking form button:last-of-type {
    align-self: center;
}
