@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --charcoal: #242333;
  --black: rgba(0, 0, 0, 0.1);
  --white: #fff;
  --dark-gray: #444451;
  --medium-gray: #777;
  --blue: #6feaf6;
  --red: #B3001B;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--charcoal);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: var(--blue);
}

a.active {
  text-decoration: underline !important;
}

button {
  font-family: inherit;
  padding: 6px 10px;
  background: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  color: var(--medium-gray);
  background: var(--dark-gray);
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

form>div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input[type="email"],
input[type="text"],
input[type="number"] {
  padding: 8px;
  background-color: var(--white);
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;
}

.error {
  color: var(--red);
}